---
layout: default
title: Home
---
<div class="header">
  <div class="white-transparent-bg">
    <h1 class="mvn">a better plea</h1>
  </div>
</div>
<!--Blog Posts -->
<div class="row">
  <div class="small-12 columns small-centered">
    <div class="box mtm text-center">
      <h1>latest posts</h1>
    </div>
    <div class="blog">
      <ul class="pvn phn mvn mhn">
        {% for post in site.posts %}
          {% if post.image %}
            <li class="post-has-image mbn ptn box">
              <div class="hovereffect">
                <img class="img-responsive" src="/post-images/{{ post.image }}" alt="">
                <div class="overlay">
                  {% if post.photographer %}
                    <h2>Image taken by {{ post.photographer }}</h2>
                  {% endif %}
                  <p>
                    <a class="mtl photo-link button radius" href="{{ post.url }}">view post</a>
                  </p>
                </div>
              </div>
              <!--End of Hovereffect -->
              <!--Start of blog posts -->
              <li>
                <li class="mbm phm box">
                {% else %}
                  <li class="mvm phm box">
                  {% endif %}
                  <a class="post-title"
                  href="{{ post.url }}"> {{ post.title }} </a>
                  <br>
                  <div class="blurb">
                    <em>by</em>
                    {{ post.author }}
                    <em> on </em>
                    {{ post.date | date: '%B %d, %Y' }}
                  </div>
                  <br>
                  <hr class="hr-small show-for-small-only">
                  <p>{{ post.excerpt }}</p>
                </li>
              {% endfor %}
            </ul>
          </div>
          <!--Blog End -->
        </div>
      </div>