<div class="footer pvm">
  <div class="contact-info">
    <ul>
      <li>Name: Yuna Oh</li>
      <li>Phone: (631) 555 - 4122</li>
      <li>Email: yunaoh@gmail.com</li>
    </ul>
  </div>
  <div class="contact-form">
    <h3>Or: Contact me directly!</h3>
    
    <form action="submit.php">
      <label for="name">Name</label>
      <input name="name" type="text">
      <label for="email">Email</label>
      <input name="email" type="text">
      <input type="submit">
    </form>
  </div>
</div>