---
layout: default
title: A
---
{% include responsive-navbar.html %}
<div class="flex-container about-container">
  {% include about-header.html %}
  <!-- END - logo -->
  <div class="about-text">
    <h1 class="mbl">Love's Justification</h1>
    <p class="stanza">YES! hope may with my strong desire keep pace,</p>
    <p class="stanza">And I be undeluded, unbetrayed:</p>
    <p class="stanza">For if of our affections none find grace</p>
    <p class="stanza">In sight of Heaven, then wherefore hath God made</p>
    <p class="stanza">The world which we inhabit? Better plea</p>
    <p class="stanza">Love cannot have, than that in loving thee</p>
    <p class="stanza">Glory to that eternal peace is paid,</p>
    <p class="stanza">Who such divinity to thee imparts</p>
    <p class="stanza">As hallows and makes pure all gentle hearts.</p>
    <p class="stanza">His hope is treacherous only whose love dies</p>
    <p class="stanza">With beauty, which is varying every hour;</p>
    <p class="stanza">But, in chaste hearts uninfluenced by the power</p>
    <p class="stanza">Of outward change, there blooms a deathless flower,</p>
    <p class="stanza">That breathes on earth the air of paradise.</p>
    <div class="text-right">
      <p class="stanza">
        - Michelangelo
      </p>
    </div>
  </div>
</div>