/*********************************/
/******* HOME - SCSS *************/
/*********************************/

.blog {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  ul {
    list-style-type: none;
    li {
      &.post-has-image {
        // Controls the border radiuses.
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        img{
          margin: auto; 
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          background-color: $custom-gray;
        }
      }
      &.post-has-no-image{

      }
      a.post-title {
        font-family: 'Kepler-std-extended-display';
        color: $pink;
        font-size: rem-calc(45); 
      }
    }
  }

  div.overlay {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  a.photo-link {
    @media #{ $small-only } {
      font-size: 1em;
    }
    @media #{ $medium-up } {
      font-size: 2em;
    }
    font-family: 'rooney-sans';
  }
}

// Boxifies the posts
.box {
  // background-color: $white-gray;
  background-color: white;
  width: 80%;
  margin: auto;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  min-height: 40px;
  padding-top: 12px;
  padding-bottom: 9px;
}


