/*********************************/
/******* HOME - SCSS *************/
/*********************************/

body {

  background-color: #E7E7E7;
}

.header{ 
  background: url(../img/daisies.jpg )no-repeat 50% 55%;
  background-size: cover;  
  text-align: center;

  @media #{ $small-only } {
    min-height: 150px;
  }

  @media #{ $medium-only } {
    min-height: 180px;
  } 

  @media #{ $medium-up } {
    margin-top: 20px;
  }

  @media #{ $large-up} {
    min-height: 210px;
  } 

  .white-transparent-bg {
    background: rgba(255,255,255,0.4);
    height: 50px;
    position: relative;
    top: 50px;
  }
  h1 {
    font-family: $custom-sans-serif-font;
  }
}

.blog {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  ul {
    list-style-type: none;
    li {

      &.post-has-image img{
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
      &.post-has-no-image{

      }
      a.post-title {
        font-size: 2em;
        color: $pink;
      }
    }
  }
}

.box {
  background-color: #FDFDFD;
  width: 80%;
  margin: auto;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  min-height: 40px;
  padding-top: 12px;
  padding-bottom: 9px;
}