// --------------------------------------------------
// Configuration Classes
// --------------------------------------------------
section.top-bar-section-small {
  display: inline-block;
}

// --------------------------------------------------
// Utility Classes
// --------------------------------------------------

// KEY UTILITIES
.flex-container {
  display: flex;
}

.flex-row{
  flex-flow: row wrap;
}

.flex-column {
  flex-flow: column wrap;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial !important;
}

// RANDOM UTILITIES

.btr {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.bbr {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.subtle {
  color: #6F6F6F;
}

.hr-small{
  width: 100px;
  margin: auto;
}

.hr-medium{
  width: 300px;
  margin: auto;
}

// 
// Colors
// --------------------------------------------------

$black: #000;
$white: #fff;

// Color Scheme
$pink: #ffc0c0;
$white-gray: #fdfdfd;
$light-gray: #6D6D6D;
$custom-gray: #ececec;
$dark-gray: #393939;

//
// Fonts
// --------------------------------------------------


$custom-sans-serif-font: "proxima-nova", sans-serif;
$custom-serif-font: "freight-display-pro", serif;



$custom-body-font: $custom-sans-serif-font;
$custom-header-font: $custom-serif-font;


/*********************************/
/******* EFFECTS *****************/
/*********************************/
