---
layout: default
---
<article class="post-container">
  {% include responsive-navbar.html %}
  <div class="row">
    <div class="post-content small-8 small-centered text-center columns">
      <h1 class="post-title" >{{ page.title }}</h1>

      <p class="meta">{{ page.date | date_to_string }}</p>

      {% if page.image %}
      <div class="text-center mvm">
        <img class="post-image mbl" src="../post-images/{{ page.image }}" alt="">
      {% endif %}
      <div class="text-left">
        {{ content }}
      </div>
      <a href="/" class="button small radius mtl">Go Back</a>
    </div>
  </div>
</article>